<body>
    <h1>Buscador de usuarios en GitHub</h1>
    <form>
        <label for="firstName">Escribe aquí el usuario que quieres
            buscar:</label>
        <input class="js-search" id="search" type="text" name="search" />
        <input class="js-btn" type="submit" value="Buscar" />
    </form>
    <h2>Resultados</h2>
    <h4>Nombre</h4>
    <p class="js-name"></p>
    <h4>Foto</h4>
    <img class="js-img">
    <h4>Número de repositorios</h4>
    <p class="js-number"></p>
</body>

</html>