body {
	background-color: lightgray;
}
.header__title {
	padding-bottom: 1em;
}
.content {
	background-color: yellow;
}
.content__title {
	padding-bottom: 1em;
}
.content__info {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
.content__orange {
	background-color: orange;
}
.content__paragraph {
	width: 50%;
}
.related {
	background-color: gray;
	margin: 1em 0;
}
.menu {
	background-color: greenyellow;
}

@media (min-width: 480px) {
	.page {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: flex-end;
	}
	.related {
		width: 60%;
		margin: 0;
	}
	.content {
		width: 60%;
	}
	.menu {
		width: calc( 40% - 1em );
		margin-right: 1em;
	}
	.content__orange {
		width: 50%;
		background-color: orange;
	}
}
