.success {
  border: 2px solid green;
  background-color: rgb(172, 206, 172);
  color: green;
}
.error {
  border: 2px solid red;
  background-color: rgb(216, 167, 167);
  color: red;
}
.warning {
  border: 2px solid yellow;
  background-color: rgb(235, 235, 182);
  color: yellow;
}
