<header>
    <nav class="nav">
        <ul class="nav__list">
            <li class="nav__list--item js-link1"><a
                    href="./index.html#section1">Section
                    1</a></li>
            <li class="nav__list--item js-link2"><a
                    href="./index.html#section2">Section
                    2</a></li>
            <li class="nav__list--item js-link3"><a
                    href="./index.html#section3">Section
                    3</a></li>
        </ul>

    </nav>
</header>

<body class="body">
    <section class="section" id="section1">
        <h2>Section 1</h2>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Odit id,
            aperiam illo corrupti sit aliquam aspernatur molestiae nobis, cum
            ducimus assumenda et magni ipsum quibusdam, exercitationem eum ipsam
            dignissimos totam.</p>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Odit id,
            aperiam illo corrupti sit aliquam aspernatur molestiae nobis, cum
            ducimus assumenda et magni ipsum quibusdam, exercitationem eum ipsam
            dignissimos totam.</p>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Odit id,
            aperiam illo corrupti sit aliquam aspernatur molestiae nobis, cum
            ducimus assumenda et magni ipsum quibusdam, exercitationem eum ipsam
            dignissimos totam.</p>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Odit id,
            aperiam illo corrupti sit aliquam aspernatur molestiae nobis, cum
            ducimus assumenda et magni ipsum quibusdam, exercitationem eum ipsam
            dignissimos totam.</p>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Odit id,
            aperiam illo corrupti sit aliquam aspernatur molestiae nobis, cum
            ducimus assumenda et magni ipsum quibusdam, exercitationem eum ipsam
            dignissimos totam.</p>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Odit id,
            aperiam illo corrupti sit aliquam aspernatur molestiae nobis, cum
            ducimus assumenda et magni ipsum quibusdam, exercitationem eum ipsam
            dignissimos totam.</p>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Odit id,
            aperiam illo corrupti sit aliquam aspernatur molestiae nobis, cum
            ducimus assumenda et magni ipsum quibusdam, exercitationem eum ipsam
            dignissimos totam.</p>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Odit id,
            aperiam illo corrupti sit aliquam aspernatur molestiae nobis, cum
            ducimus assumenda et magni ipsum quibusdam, exercitationem eum ipsam
            dignissimos totam.</p>
    </section>
    <section class="section" id="section2">
        <h2>Section 2</h2>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Odit id,
            aperiam illo corrupti sit aliquam aspernatur molestiae nobis, cum
            ducimus assumenda et magni ipsum quibusdam, exercitationem eum ipsam
            dignissimos totam.</p>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Odit id,
            aperiam illo corrupti sit aliquam aspernatur molestiae nobis, cum
            ducimus assumenda et magni ipsum quibusdam, exercitationem eum ipsam
            dignissimos totam.</p>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Odit id,
            aperiam illo corrupti sit aliquam aspernatur molestiae nobis, cum
            ducimus assumenda et magni ipsum quibusdam, exercitationem eum ipsam
            dignissimos totam.</p>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Odit id,
            aperiam illo corrupti sit aliquam aspernatur molestiae nobis, cum
            ducimus assumenda et magni ipsum quibusdam, exercitationem eum ipsam
            dignissimos totam.</p>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Odit id,
            aperiam illo corrupti sit aliquam aspernatur molestiae nobis, cum
            ducimus assumenda et magni ipsum quibusdam, exercitationem eum ipsam
            dignissimos totam.</p>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Odit id,
            aperiam illo corrupti sit aliquam aspernatur molestiae nobis, cum
            ducimus assumenda et magni ipsum quibusdam, exercitationem eum ipsam
            dignissimos totam.</p>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Odit id,
            aperiam illo corrupti sit aliquam aspernatur molestiae nobis, cum
            ducimus assumenda et magni ipsum quibusdam, exercitationem eum ipsam
            dignissimos totam.</p>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Odit id,
            aperiam illo corrupti sit aliquam aspernatur molestiae nobis, cum
            ducimus assumenda et magni ipsum quibusdam, exercitationem eum ipsam
            dignissimos totam.</p>
    </section>
    <section class="section" id="section3">
        <h2>Section 3</h2>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Odit id,
            aperiam illo corrupti sit aliquam aspernatur molestiae nobis, cum
            ducimus assumenda et magni ipsum quibusdam, exercitationem eum ipsam
            dignissimos totam.</p>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Odit id,
            aperiam illo corrupti sit aliquam aspernatur molestiae nobis, cum
            ducimus assumenda et magni ipsum quibusdam, exercitationem eum ipsam
            dignissimos totam.</p>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Odit id,
            aperiam illo corrupti sit aliquam aspernatur molestiae nobis, cum
            ducimus assumenda et magni ipsum quibusdam, exercitationem eum ipsam
            dignissimos totam.</p>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Odit id,
            aperiam illo corrupti sit aliquam aspernatur molestiae nobis, cum
            ducimus assumenda et magni ipsum quibusdam, exercitationem eum ipsam
            dignissimos totam.</p>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Odit id,
            aperiam illo corrupti sit aliquam aspernatur molestiae nobis, cum
            ducimus assumenda et magni ipsum quibusdam, exercitationem eum ipsam
            dignissimos totam.</p>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Odit id,
            aperiam illo corrupti sit aliquam aspernatur molestiae nobis, cum
            ducimus assumenda et magni ipsum quibusdam, exercitationem eum ipsam
            dignissimos totam.</p>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Odit id,
            aperiam illo corrupti sit aliquam aspernatur molestiae nobis, cum
            ducimus assumenda et magni ipsum quibusdam, exercitationem eum ipsam
            dignissimos totam.</p>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Odit id,
            aperiam illo corrupti sit aliquam aspernatur molestiae nobis, cum
            ducimus assumenda et magni ipsum quibusdam, exercitationem eum ipsam
            dignissimos totam.</p>
    </section>
</body>