.js_container {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.js_alarma {
  margin: 20px;
}
.white {
  background-color: white;
}
.red {
  background-color: red;
}
