.news {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border: 1px solid rgb(240, 14, 233);
    box-sizing: border-box;

}
.new {
    border: 1px solid rgb(240, 14, 233);
    padding: 10px;
    display: flex;
    flex-direction: column;
    width: 50%;
    order: 1;
    box-sizing: border-box;
}
.new.main-article {
    width: 100%;
    order: 0;
}
.new.main-article img {
    max-height: 500px;
}
