.container-1 {
    background-color: #fbd5e5;
    width: 500px;
    display: flex;
    flex-direction: row;
}
.item {
    border: 1px solid blue;
}

.container-2 {
    background-color: #fbd5e5;
    width: 500px;
    display: flex;
    flex-direction: column;
}
