<div class="conatiner">
    <h1 class="conatiner__title">¡Crea tu árbol de navidad!</h1>
    <form class="conatiner__form">
        <label class="conatiner__form--label" for="height_input">Introduce la
            altura de tu
            árbol:</label>
        <input class="conatiner__form--height js-height" id="height_input"
            type="text" placeholder="Ej: 20" name="height" />
        <input class="conatiner__form--btn js-btn" type="submit"
            value="Crear" />
    </form>
    <block class="conatiner__tree js-tree"></block>
</div>