<div class="background">
    <form class="container" action="/signup" method="post">
        <h1 class="container__title">CSS transitions</h1>
        <h2 class="container__subtitle">Form label placeholders</h2>
        <label class="container__input--email" for="email">Email address</label>
        <input class="container__input" placeholder="" id="email" type="email" name="email" />
        <label for="password"></label>
        <input class="container__input" placeholder="Password" id="password" type="password" name="password" />
        <input class="container__input--buttom" type="submit" value="Let´s go!" />
    </form>
</div>