<!-- HTML para el ejercicio 1 -->
<h2>Ejercicio 1</h2>
<p class="time">0</p>

<!-- HTML para el ejercicio 2 -->
<h2>Ejercicio 2</h2>
<p class="time2">0</p>
<div class="grapes_container"></div>

<!-- HTML para el ejercicio 3 -->
<h2>Ejercicio 3</h2>
<article class="container">
    <h2 class="container__title">Título del post</h2>
    <small class="container__small">Escrito hace 1 segundo</small>
    <p class="container__text">Lorem ipsum dolor sit, amet consectetur
        adipisicing elit. Eius tempora
        amet, dolore cumque debitis temporibus aliquid voluptate quisquam
        provident minima dignissimos ducimus. Optio molestiae eum eius numquam
        qui, ipsa impedit!</p>
</article>

<!-- HTML para el ejercicio 4 -->
<h2>Ejercicio 4</h2>
<div class="container4 hidden">
    <h3 class="container4__title">Su sesión ha expirado</h3>
</div>

<!-- HTML para el ejercicio 5 -->
<h2>Ejercicio 5</h2>
<p class="time5">0</p>
<div class="grapes_container5"></div>

<!-- HTML para el ejercicio 6 -->
<h2>Ejercicio 6</h2>
<div class="container6">
    <p class="container6__counter">0</p>
    <button class="container6__start">
        Start
    </button>
    <button class="container6__stop">
        Stop
    </button>
</div>

<!-- HTML para el ejercicio 7 -->
<h2>Ejercicio 7</h2>
<div class="container7">
    <button class="container7__btn hidden">¿Te has dormido?</button>
</div>

<!-- HTML para el ejercicio 8 -->