<div class="container">
    <h1>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</h1>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Facilis
        perspiciatis a sequi ducimus earum ratione minus reiciendis nulla vitae
        corporis aliquam illo recusandae debitis, voluptatem repudiandae quam
        aut.
        Reiciendis, exercitationem.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere nam
        deleniti
        laborum atque. Mollitia quod rerum blanditiis voluptatibus error sequi
        necessitatibus aliquam iste impedit officiis qui eius, repellendus
        voluptate
        magni.</p>
    <div>
        <label for="dark">
            <input id="dark" class="dark input" type="radio" value="dark"
                name="backgrounds" />
            Oscuro
        </label>
    </div>
    <div>
        <label for="ligth">
            <input id="ligth" class="ligth input" type="radio" value="ligth"
                name="backgrounds" />
            Claro
        </label>
    </div>
</div>